<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Advanced Computing</h1>
            <span>ETNA</span>
            <span><address>Paris, France</address><time>2015 to 2017</time></span>
        </header>
        <p>
            <div>

              <em>C Ruby NodeJs *Js</em>
            </div>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor in Computer Science</h1>
            <span>Efrei</span>
            <span><address>Paris, France</address><time>2013 to 2015</time></span>
        </header>
        <p>
            Introduction to Computer Science & Web Development
            <div>
              <em>C C++ Java</em>
            </div>
            <div>
              <em>PHP JavaScript HTML5 CSS3</em>
            </div>
        </p>
    </article>
    <article>
        <header>
            <h1>Prep School</h1>
            <span>Lycée Turgot</span>
            <span><address>Paris, France</address><time>2011 to 2013</time></span>
        </header>
        <p>
            Linear Algebra (My favorite), Advanced Organic Chemistry, etc...
            <div>
              <em>Physics, Chemistry and Mathematics</em>
            </div>
        </p>
    </article>
</section>
