<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1> Developer @ <a href="https://Ulule.com/">Ulule</a></h1>
            <span><address>Paris, France</address><time>2017 to Present</time></span>
        </header>
        <p>
          <em>Back End:</em> Golang
        </p>
        <p>
          <em>DevOps:</em> Git, Jenkins & Docker
        </p>
    </article>
    <article>
        <header>
            <h1>Full Stack Developer @ <a href="http://bevolta.com/">Bevolta</a></h1>
            <span><address>Paris, France</address><time>2016 to Present</time></span>
        </header>
        <p>
          <em>Front End:</em> Ember.js
        </p>
        <p>
          <em>Back End:</em> Play/Scala
        </p>
        <p>
          <em>DevOps:</em> Git, Jenkins, Nexus & Docker
        </p>
    </article>
    <article>
        <header>
            <h1>JavaScript Developer (Intern) @ BucketMovie</h1>
            <span><address>Paris, France</address><time>March 2015 to September 2015</time></span>
        </header>
        <p>
          I first started as a Front-End, then shifted to the Backend because I had more ease with
          abstraction and optimisation concerns.
          The MEAN (MongoDb, Express, AngularJs & NodeJs) was first my playground with modular JavaScript in a production environment.
          I also used Cypher for Neo4J.
        </p>
    </article>
</section>
