<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Full Stack Developer @ Bevolta</h1>
            <span><address>Paris, France</address><time>2016 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>Front-End Developer (Freelance) @ GraphComment</h1>
            <span><address>Paris, France</address><time>Septembre 2015 to October 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Full JavaScript Developer (Intern) @ BucketMovie</h1>
            <span><address>Paris, France</address><time>March 2015 to September 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
</section>
