<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Member</h1>
            <span><a href="http://www.scienceacademie.org/">Science Academie</a></span>
            <span><address>Paris, France</address><time>Current</time></span>
        </header>
        <p>

        </p>
    </article>
    <article>
        <header>
            <h1>Member</h1>
            <span><a href="http://www.meetup.com/Golang-Paris/">Golang Paris</a></span>
            <span><address>Paris, France</address><time>Current</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Member</h1>
            <span> Efrei International</span>
            <span><address>Paris, France</address><time>2014</time></span>
        </header>
    </article>
</section>
