<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
      <header>
        <span>Music</span>
      </header>
        <p>
          I love listening to music while deving.
          AND I will never decline a live concert of radiohead.
        </p>
    </article>

    <article>
      <header>
        <span>Travelling</span>
      </header>
      <p>
        In 2015, I went to LA, Hong Kong and Dubaï.
      </p>
    </article>

    <article >
      <header>
        <span>Esports</span>
      </header>
      <p>
        1500 hours of Counter Strike (Go) and 2000 hours of Battlefield (3 & 4).
      </p>
    </article>
</section>
